body {
    font-family: sans-serif;
    background-image: url("pasia-travel-photography-weerapong-chaipuck-5.jpg");
      /* background-color: lightblue;*/
      background-color: #cccccc;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

